*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

body {
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    width: 300px;
    height: 300px; 
    background-color:rgb(255, 255, 255);
    border-radius: 30%;
    border: 5px solid black;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(39, 39, 39, 0.514), 0 6px 20px 0 rgba(0, 0, 0, 0.336);
}

.clock .number {
    --rotation: 0;/*creating sort of variable idk fs*/
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.2rem;
}

.clock .number1 {
    --rotation: 30deg
}

.clock .number2 {
    --rotation: 60deg
}

.clock .number3 {
    --rotation: 90deg
}

.clock .number4 {
    --rotation: 120deg
}

.clock .number5 {
    --rotation: 150deg
}

.clock .number6 {
    --rotation: 180deg
}

.clock .number7 {
    --rotation: 210deg
}

.clock .number8 {
    --rotation: 240deg
}

.clock .number9 {
    --rotation: 270deg
}

.clock .number10 {
    --rotation: 300deg
}

.clock .number11 {
    --rotation: 330deg
}
/* 12 by default is on 360deg, so we don't need to put it here*/

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 10px;
    height: 40%;
    background-color: black;
    border: 1px solid white;
    border-top-left-radius: 10px;/*to round onle 1 side of the hand*/
    border-top-right-radius: 10px;
    z-index: 10;/*to make shure hand will be displayed over numbers*/
    transform-origin: bottom;/*making one end of the hand fixated to center of the clock*/
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));/*translate the object 50% backwards */
}

.clock::after{
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.clock .hand.second{
    width: 3px;
    height: 45%;
    background-color: rgb(255, 37, 37);

}

.clock .hand.minute{
    width: 7px;
    height: 40%;
    background-color: rgb(0, 0, 0);
    
}

.clock .hand.hour{
    width: 10px;
    height: 45%;
    background-color: rgb(0, 0, 0);
    
}

